{{#each model as |project|}}
  <article class="project">
    <div class="img-container">
      <div
        class="img-holder"
        style={{project-image-style project.illustrationUrl}} />
    </div>
    <div class="details">
      <div class="country">
        <img
        src={{project-country-flag project.country}}
        alt={{project.business.address.country}} />
      </div>
      <div class="detail-column detail-column-2">
        <div class="detail">
          <h3>
            {{project.name}}
          </h3>
        </div><div class="detail date">
          {{project-days-ago project.onlineDate }}
        </div>
      </div>
      <div class="detail-column detail-column-3">
        <div class="detail">
          {{project.rate}}% · {{project.loanDuration}} months
        </div><div class="detail amount">
          {{money-format project.amount}}
        </div><div class="detail grade">
          <span class={{grade-color project.grade}}></span>
          <span>
            {{project.grade}}
          </span>
        </div>
      </div>
    </div>
  </article>
{{/each}}
